body {
  text-align: center;
  background-color: #00ba7d;

}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

.container {
  display: grid;
  grid-template-columns: 700px 400px;
  justify-content: center;
}

.snare {
  background-image: url(images/snare.jpg);
}

.kick {
  background-image: url(images/bass.jpg);
}

.low-tom {
  background-image: url(images/tom-low.jpg);
}

.high-tom {
  background-image: url(images/tom1.jpg);
}

.crash {
  background-image: url(images/crash.png);
}

.hihat-closed {
  background-image: url(images/hihat-closed.jpg);
}

.hihat-open {
  background-image: url(images/hihat-open.jpg);
}

.ride {
  background-image: url(images/ride.png);
}

.ride2 {
  background-image: url(images/ride2.jpg);
}

.box {
  margin: 10% auto;
}

.drum {
  border: 10px solid #00ED9F;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #009bba;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  background-size: cover;
}
